/* GENERAL */
#logo {
    width: 100px;
    height: 100px;
    padding: 0 1em 0;
}

.hamburger {
    display: block;
    margin-top: 0.5em;
}

.mobile-nav {
    display: block;
}

#breadcrump p {
    margin-left: 22%;
}

/* ATTIVITA */

.container a {      /* Dimesnione e margine delle cards */
    width: 80%;
    height: 10em;
    margin: 15px 20px;
}

#sports h2 {
    font-size: 2em;
}


/* INDEX */

.home-content {
    margin-bottom: 2em;
}

.home-content p {
    font-size: 1.1em;
}

.home-content h1 {
    font-size: 2em;
}

.home-content input {
    margin: 2em 1em 1em;
    padding: 0.5em 1em;
    border: 2.5px solid var(--flagColor4);
    font-size: 0.8em;
}