* {
    padding: 0;
    margin: 0;
}

/* ----------------------------------------------------------
   |                          HTML                          |
   ----------------------------------------------------------
*/

/* Prendo gli elementi del css che voglio modificare e cambio i valor*/
html {
    font-size: 12pt;    /* Rispetto scelta utente */
    font-family: "Times New Roman", serif;
    line-height: 1.5em;
    margin: auto;
}

/* ----------------------------------------------------------
   |                         HEADER                         |
   ----------------------------------------------------------
*/
header {
    text-align: left;
    padding: 1em 0 1em 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* ----------------------------------------------------------
   |                         HEADER                         |
   ----------------------------------------------------------
*/
#menu {
    display: none;
}

#breadcrump {
    padding: 0.5em 0 0.5em 0;
    margin-top: 00.5em;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

/* ----------------------------------------------------------
   |                         FOOTER                         |
   ----------------------------------------------------------
*/
footer {
    font-size: 10pt;
    font-style: italic;
    text-align: center;
    border-top: 1px solid #DDD;
    padding: 1.3em 0.5em 0.5em;
} 