* {
    margin: 0;
    padding: 0;
}
/* Colors definition */
:root {
    --textColor: rgb(207, 144, 56);
    --backgroundColor: rgb(0, 33, 38);
    --headerBgColor: rgb(0, 33, 38);
    --headerTextColor: rgb(237, 204, 140);
    --footerBgColor: rgb(0, 0, 0);
    --footerTextColor: rgb(255, 255, 255);
    --linkColor: rgb(207, 144, 56);
    --linkVisited: rgb(255, 255, 255);
    
    --flagColor1: rgb(0, 65, 56);   /* Usato solo su attività sulle cards*/

    --flagColor2: rgb(0, 33, 38);
    --flagColor3: rgb(237, 204, 140);
    --flagColor4: rgb(207, 144, 56);
    
    --flagColor5: rgba(0, 145, 150, 0.795);   /* Usato solo su attività sulle cards*/

    --font-body-family: "Verdana", sans-serif;
}

html {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* ----------------------------------------------------------
   |                         FOOTER                         |
   ----------------------------------------------------------
*/
footer {
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    text-align: center;
    margin-top: auto;
    padding: 2em;
}

/* ----------------------------------------------------------
   |                         HEADER                         |
   ----------------------------------------------------------
*/
header {
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    text-align: center;
    display: inline-block;
    z-index: 99;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#logo {
    width: 80px;
    height: 70px;
    float: left;
    padding: 1em 3em 1em;
}

.hamburger {
    display: none;
    margin: 1em 2em 0;
    float: right;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(30deg,
        #462523 0,
        #cb9b51 30%, 
        #f6e27a 47%,
        #f6f2c0 50%,
        #f6e27a 53%,
        #cb9b51 70%,
        #462523 100%
    );
    margin: 6px 0px;
    transition: 0.3s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 40%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--flagColor2);
    padding-top: 100px;
    transition: 0.4s;
}

.mobile-nav.is-active {
    left: 60%;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 80px;
    margin: 40px auto 16px;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    color: var(--flagColor2);
}

/* ----------------------------------------------------------
   |                           NAV                          |
   ----------------------------------------------------------
*/

ul {
    margin: auto;
    max-width: 1024px;
    padding: 1.5em;
    list-style-type: none;
}

nav {
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
}

#menu {
    text-align: center;
    padding-top: 1.5em;
}

#menu ul li {
    display: inline-block;
    width: 15%;
}

#menu ul li:not(:has(> a)) {
    font-weight: bold;
    font-size: 1.3em;
}

#breadcrump {
    padding: 0 1.5em 1.5em;
}

#breadcrump p {
    max-width: 1024px;
    margin: auto;
    margin-left: 12%;
}

nav a:link {
    color: var(--linkColor);
    font-weight: normal;
}

nav a:visited {
    color: var(--linkVisited);
}

/* ----------------------------------------------------------
   |                          MAIN                          |
   ----------------------------------------------------------
*/

main {
    text-align: center;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.gradient-text {
    background-image: linear-gradient(to right,
            #462523 0,
            #cb9b51 30%, 
            #f6e27a 47%,
            #f6f2c0 50%,
            #f6e27a 53%,
            #cb9b51 70%,
            #462523 100%
	);
    color:transparent;
    -webkit-background-clip:text;
    background-clip: text;
}

/***************************** INDEX *****************************/ 

.main-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    width: 100%;
    min-height: 30em;
    background-image: url(images/homeImg.jpg);
    background-size: cover;
    background-position: center;
}

.home-content {
    margin-bottom: 4em;
    transform: translateY(-90%);
    background-color: rgba(0, 33, 38, 0.6);
    height: 8em;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.home-content h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
    width: 10em;
    margin: 0 auto;
}

.home-content p {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 1em;
    width: 70%;
    margin: 0 auto 1.5em;
}

.home-content a {
    margin: 0 2em 0;
    padding: 0.8em 1.5em;
    border: 3px solid var(--flagColor4);
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
}

.btn-empty-bg {
    background-color: var(--flagColor2);
    color: var(--flagColor4);
}

.btn-empty-bg:hover {
    background-color: var(--flagColor4);
    color: var(--flagColor2);
}

.btn-filled-bg {
    background-color: var(--flagColor4);
    color: var(--flagColor2);
}

.btn-filled-bg:hover {
    background-color: var(--flagColor2);
    color: var(--flagColor4);
}

/***************************** ATTIVITA *****************************/ 

#sports {
    text-align: center;
    padding: 1em;
    margin: 2em 0;
}

#sports > p {
    margin-bottom: 0.8em;
    color: var(--flagColor3);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

#sports h2 {
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
    width: 10em;
    margin: 0 auto 0.7em;
}

.separatore {
    margin: auto;
    width: 30px;
    height: 5px;
    background: var(--flagColor4);
    margin-top: .5em;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container a {
    position: relative;
    width: 35%;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px;
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
}

.container a span {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: 2;
}

.container a .contenuto {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container a .contenuto h3 {
    font-size: 2.5em;
}

/* Hover -> funziona solo sui dispositivi che lo supportano */
.container a:hover {
    transform: translateY(-20px);
    color: rgb(255, 255, 255, 1);
}

.container a:hover span {
    opacity: 0.5;
}

.container a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--flagColor1), var(--flagColor5));
}

.container a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--flagColor1), var(--flagColor5));
    filter: blur(25px);
}

/* Applica solamente ai dispositivi che non supportano hover */
@media (hover: none) {
    .container a{
        /*transform: scale(1.1);*/
        transform: translateY(-20px);
        color: rgb(255, 255, 255, 1);
    }
    
    .container a span {
        opacity: 0.5;
    }
    
    .container a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, var(--flagColor1), var(--flagColor5));
    }
}

#calcetto {
    background-image: url(images/calcetto.jpg);
}

#calcio {
    background-image: url(images/calcio.jpg);
}

#pallavolo {
    background-image: url(images/beachVolley.jpg);
}

#tennis {
    background-image: url(images/tennis.jpg);
}

#paddel {
    background-image: url(images/paddel.jpg);
}
/***************************** PRENOTAZIONE *****************************/ 

#prenotation-title{
    padding: 1em;
}

/* Regola CSS per il paragrafo sotto Selezione Data */
#data-description {
    font-size: 1.0em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateX(800px);
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

/* Aggiungi questa regola per animare il paragrafo quando appare */
#data-description.appear {
    opacity: 1;
    transform: translateX(0);
}


input[type="date"] {
    padding: 12px;
    border: 2px solid rgb(207, 144, 56);
    border-radius: 10px;
    font-size: 16px;
    width: 80%;
    max-width: 250px;
    margin: 1em;
    margin-bottom: 0.5em;
    outline: none;
    color:var(--flagColor4);;
    transition: max-width 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

input[type="date"]:hover {
    border-color: black;
}

input[type="date"]:focus {
    max-width: 150px;
    border-color: black;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.field-container {
    color: var(--flagColor4);
    background-color: #fff;
    border: 2px solid var(--flagColor4);
    border-radius: 10px;
    margin: 30px auto; 
    padding: 20px;
    text-align: center;
    width: 70%;
    max-width: 600px;
    background: linear-gradient(rgb(255, 255, 255,0.7), rgba(255, 255, 255, 0.6)), url('images/tennisview.jpeg');
    background-size: cover;
    background-position: center;
    transition: max-width 0.5s ease-in-out, border-color 0.5s ease-in-out;
    animation: slideIn 1s ease-in-out;
}

.field-container:hover{
    border-color: black;
}

select {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.field-container h2 {
    margin-bottom: 20px; 
}

.time-buttons {
    margin-top: 10px; 
}


.time-buttons button {
    margin-right: 10px; 
    margin-bottom: 10px;
    padding: 8px 16px;
    border: 2px solid var(--flagColor4);;
    border-radius: 10px;
    background-color: #fff;
    color: var(--flagColor4);;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*.time-buttons button:hover {
    background-color: rgb(207, 144, 56);
    color: #fff;
}*/

.time-buttons button.selected {
    background-color: var(--flagColor4); 
    color: #fff;
}

#confirmationButtonContainer {
    margin-top: 20px; 
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}

#confirmationButton {
    padding: 10px 20px;
    background-color: var(--flagColor4);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-bottom: 2em;
}

#confirmationButton:hover {
    background-color: #333; 
}

