/* GENERAL */

.hamburger {
    display: block;
    margin-top: 0.1em;
}

#menu {
    padding-top: 1em;
}

.mobile-nav {
    display: block;
}

ul {
    display: none;
}

#logo {
    width: 60px;
    height: auto;
    padding: 1em 1.5em 0.5em;
}

#breadcrump {
    padding-bottom: 1em;
}

#breadcrump p {
    margin-left: 12%;
}

/* INDEX */

.home-content h1 {
    padding-top: 0.7em;
    font-size: 2.7em;
}

.home-content a {
    margin: 2.1em 1em 1em;
    padding: 0.6em 1.3em;
    border: 2.9px solid var(--flagColor4);
    font-size: 1em;
}


/* ATTIVITA */

.container a {
    width: 40%;
    height: 12em;
    margin: 15px 20px;
}

.container a .contenuto h3 {
    font-size: 1.8em;
}
