* {
    margin: 0;
    padding: 0;
}
/* Colors definition */
:root {
    --textColor: rgb(226, 157, 29);
    --backgroundColor: rgb(0, 33, 38);
    --headerBgColor: rgb(0, 33, 38);
    --headerTextColor: rgb(237, 204, 140);
    --footerBgColor: rgb(0, 0, 0);
    --footerTextColor: rgb(255, 255, 255);
    --linkColor: rgb(226, 157, 29);
    --linkVisited: rgb(255, 255, 255);
    --errorColor: rgb(255, 56, 56);
    
    --flagColor1: rgb(0, 33, 38);
    --flagColor2: rgb(237, 204, 140);
    --flagColor3: rgb(226, 157, 29);
    --flagColor4: rgba(0, 145, 150, 0.795);   /* Usato solo su attività sulle cards*/
    --flagColor5: rgb(0, 65, 56); 

    --font-body-family: "Verdana", sans-serif;
}

html {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    font-size: 100%;
    font-family: var(--font-body-family);
    line-height: 1.5em;
    margin: auto;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:link {
    color: var(--linkColor);
    font-weight: normal;
}

a:visited {
    color: var(--linkVisited);
}

.gradient-text {
    background-image: linear-gradient(to right,
            #A65B54 0,
            #cb9b51 20%, 
            #f6e27a 47%,
            #f6f2c0 50%,
            #f6e27a 53%,
            #cb9b51 80%,
            #A65B54 100%
	);
    color:transparent;
    -webkit-background-clip:text;
    background-clip: text;
}

#go-back {
    margin: 3em auto 2em;
    text-align: center;
}

#go-back a {
    font-size: 1.2em;
    color: var(--flagColor1);
    background-color: var(--flagColor3);
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 0.3em 0.7em;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid var(--flagColor3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease, color 0.3s ease;
}

#go-back a:hover {
    color: var(--flagColor3);
    background-color: var(--flagColor1);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ----------------------------------------------------------
   |                         FOOTER                         |
   ----------------------------------------------------------
*/
footer {
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    text-align: center;
    margin-top: auto;
}

footer > p {
    margin: 2em;
}

/* ----------------------------------------------------------
   |                         HEADER                         |
   ----------------------------------------------------------
*/
header {
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    text-align: center;
    display: inline-block;
    z-index: 99;
    position: sticky;
    top: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /* effetto shadow: orizzontale, verticale, ampiezza blur */
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.navigationHelp {
    position: absolute;
    text-indent: -999em;
}

#logo {
    width: 80px;
    height: 70px;
    float: left;
    padding: 1em 3em 1em;
}

.hamburger {
    display: none;
    margin: 1em 2em 0;
    float: right;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-image: linear-gradient(45deg,
        #9c763c 0,
        #cb9b51 20%, 
        #f6e27a 47%,
        #f6f2c0 50%,
        #f6e27a 53%,
        #cb9b51 80%,
        #9c763c 100%
    );
    margin: 6px 0px;
    transition: 0.3s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 40%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: var(--flagColor1);
    padding-top: 100px;
    transition: 0.4s;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 0.5);
}

.mobile-nav.is-active {
    left: 60%;
}

.mobile-nav a {
    display: block;
    width: 90%;
    margin: 1em auto 1em;
    text-align: center;
    padding: 1em 0;
    font-size: 1.2em;
}

/* funzionerà solo sui dispositivi che supportano, nel resto sarà normale, visibile cliccandoci anche se per poco */
.mobile-nav a:hover {
    background-color: rgba(0, 24, 27, 0.7);
}

/* ----------------------------------------------------------
   |                           NAV                          |
   ----------------------------------------------------------
*/

ul {
    padding: 1em;
    margin: auto;
    max-width: 1024px;
    list-style-type: none;
}

nav {
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
}

#menu {
    text-align: center;
    padding-top: 1.5em;
}

#menu ul li {
    display: inline-block;
    width: 15%;
}

#menu ul li:not(:has(> a)) {
    font-weight: bold;
    font-size: 1.3em;
}

#breadcrump {
    padding: 1.5em 1.5em 1em;
}

#breadcrump p {
    max-width: 1024px;
    margin: auto;
    margin-left: 10%;
}

/* ----------------------------------------------------------
   |                          MAIN                          |
   ----------------------------------------------------------
*/

main {
    text-align: center;
    z-index: 1;
    width: 100%;
    margin: auto;
}

.auth-button {
    margin: auto;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 10px;
    padding: 0.5em 1.7em;
    text-transform: uppercase;
    color: var(--flagColor1);
    background-color: var(--flagColor3);
    border: 1px solid var(--flagColor3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/***************************** INDEX *****************************/ 

.main-background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5em;
    width: 100%;
    min-height: 25em;
    background-image: url(../images/homeImg.jpg);
    background-size: cover;
    background-position: center;
}

.home-content {
    transform: translateY(-90%);
    background-color: rgba(0, 33, 38, 0.6);
    height: 8em;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.home-content h1 {
    text-align: center;
    font-size: 3em;
    padding: 0.5em;
    width: 10em;
    margin: 0 auto;
}

.home-content p {
    text-align: center;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 1em;
    width: 70%;
    margin: 0 auto 1.5em;
}

.home-content a {
    margin: 0 2em 0;
    padding: 0.8em 1.5em;
    border: 3px solid var(--flagColor3);
    border-radius: 25px;
    font-weight: bold;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

a.btn-empty-bg, .btn-empty-bg {
    background-color: var(--flagColor1);
    color: var(--flagColor3);
}

a.btn-empty-bg:hover, .btn-empty-bg:hover {
    background-color: var(--flagColor3);
    color: var(--flagColor1);
}

a.btn-filled-bg, .btn-filled-bg {
    background-color: var(--flagColor3);
    color: var(--flagColor1);
}

a.btn-filled-bg:hover, .btn-filled-bg:hover {
    background-color: var(--flagColor1);
    color: var(--flagColor3);
}

/***************************** ATTIVITA *****************************/ 

#sports {
    text-align: center;
    padding: 1em;
    margin: 1em 0;
}

#sports > p {
    margin-bottom: 0.8em;
    color: var(--flagColor2);
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
}

#sports h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1.5em;
    width: 10em;
    margin: 0 auto 0.7em;
}

.separatore {
    margin: auto;
    width: 30px;
    height: 5px;
    background: var(--flagColor3);
    margin-top: .5em;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container a {
    position: relative;
    width: 30%;
    height: 15em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 50px;
    transition: 0.5s;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.3);
}

.container a span {
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    z-index: 2;
}

.container a .contenuto {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container a .contenuto h2 {
    font-size: 2.5em;
}

/* Hover -> funziona solo sui dispositivi che lo supportano */
.container a:hover {
    transform: translateY(-20px);
    color: rgb(255, 255, 255, 1);
}

.container a:hover span {
    opacity: 0.5;
}

.container a:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--flagColor2), var(--flagColor4), var(--flagColor2));
}

.container a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--flagColor2), var(--flagColor4), var(--flagColor2));
    filter: blur(25px);
}

/* Applica solamente ai dispositivi che non supportano hover */
@media (hover: none) {
    .container a{
        transform: translateY(-20px);
        color: rgb(255, 255, 255, 1);
    }
    
    .container a span {
        opacity: 0.5;
    }
    
    .container a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, var(--flagColor2), var(--flagColor4), var(--flagColor2));
    }
}

#calcetto {
    background-image: url(../images/calcetto.jpg);
}

#calcio {
    background-image: url(../images/calcio.jpg);
}

#pallavolo {
    background-image: url(../images/beachVolley.jpg);
}

#tennis {
    background-image: url(../images/tennis.jpg);
}

#paddel {
    background-image: url(../images/paddel.jpg);
}

/***************************** PRENOTAZIONE *****************************/ 

#set-prenotation legend{
    padding: 0.5em;
    font-size: 2.5em;
}

#data-description {
    font-size: 1em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 8px;
    opacity: 0;
    transform: translateX(800px);
    transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

/* Aggiungi questa regola per animare il paragrafo quando appare */
#data-description.appear {
    opacity: 1;
    transform: translateX(0);
}

input[type="date"] {
    padding: 12px;
    border: 2px solid var(--flagColor3);
    border-radius: 10px;
    font-size: 16px;
    width: 130px;
    margin: 1em;
    margin-bottom: 0.5em;
    outline: none;
    color:var(--flagColor3);
    background:var(--flagColor1);
    transition: width ease-in-out, border-color 0.5s ease-in-out, color ease-in-out 0.5s;
}

input[type="date"]:hover {
    color:white;
    background-color: var(--flagColor3);
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.field-container {
    color: var(--flagColor3);
    border: 2px solid var(--flagColor3);
    border-radius: 10px;
    margin: 30px auto; 
    padding: 20px;
    text-align: center;
    width: 70%;
    height: 20%;
    max-width: 600px;
    transition: max-width 0.5s ease-in-out, border-color 0.5s ease-in-out;
    animation: slideIn 1s ease-in-out;
}

.field-container p {
    margin: 1em auto;
    font-size: 1.5em;
    line-height: 1.5em;
}

div#calcio{
    background: linear-gradient(rgb(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../images/soccerview.jpeg');
    background-size:100% auto;
    background-position: center center;
}

div#calcetto{
    background: linear-gradient(rgb(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../images/futsalview.jpeg');
    background-size:100% auto;
    background-position: center center;
}

div#tennis{
    background: linear-gradient(rgb(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../images/tennisview.jpeg');
    background-size:100% auto;
    background-position: center center;
}

div#pallavolo{
    background: linear-gradient(rgb(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../images/volleyballview.jpg');
    background-size:100% auto;
    background-position: center center;
}

div#paddel{
    background: linear-gradient(rgb(0,0,0,0.7), rgba(0, 0, 0, 0.6)), url('../images/padelview.jpeg');
    background-size:100% auto;
    background-position: center center;
}

.field-container:hover{
    border-color: var(--footerTextColor);
}

select {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.field-container h2 {
    margin-bottom: 20px; 
}

.time-buttons input[type=button] {
    margin-right: 7px; 
    margin-left: 3px;
    margin-bottom: 10px;
    padding: 5px 15px;
    border: 2px solid var(--flagColor3);
    border-radius: 10px;
    background-color: #fff;
    color: var(--flagColor3);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.time-buttons input[type=button].selected {
    background-color: var(--flagColor3); 
    color: #fff;
}

@media (hover: none) {
    .field-container:hover{
        border-color: var(--flagColor3);
    }

    input[type="date"]:focus {
        color: white;
        background-color: var(--flagColor3);
    }
}

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: var(--footerTextColor);
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px; 
    margin: auto;
    text-align: center;
}

.popup input[type=button] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--flagColor3);
    color: var(--footerTextColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2em;
}

#continueButton {
    margin: 2em auto;
}

/* Area accesso con autenticazione/senza */
#end-prenotation {
    margin: 2em 0 1em;
}

.card-body {
    width: 70%;
    margin: auto;
    display: flex;
    padding: 1.5em 1.5em;
    margin-bottom: 2em;
    border-radius: 10px;
}

.card-body:first-child {
    border: 1px solid var(--flagColor2);
}

.card-body > div {
    width: 75%;
    margin: auto;
    text-align: left;
}

.card-body div h3 {
    font-size: 1.2em;
    line-height: 1.5em;
}

.card-body div p {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.5em 0 0.5em;
    color: var(--flagColor2);
}

/* Inserimento dati senza autenticazione */
.card-body form {
    margin: auto;
    padding: 1em;
}

legend {
    font-size: 1.6em;
    font-weight: bold;
    padding: 0 0.5em;
    color: var(--flagColor3);
    line-height: 1.5em;
}

.input-group {
    position: relative;
    margin: 20px 20px;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2em;
    color: var(--flagColor3);
    padding: 0 5px;
    pointer-events: none;   /* Fa in modo che la label non sia cliccabile */
    transition: all .3s linear;
}

.input-group input {
    width: 300px;
    height: 30px;
    padding: 0.7em 1em;
    font-size: 1.2em;
    color: var(--flagColor3);
    background: transparent;
    border: 1.2px solid var(--flagColor2);
    outline: none;
    border-radius: 5px;
}

.input-group input:focus~label,
.input-group input:not(:placeholder-shown)~label {
    top: 0;
    font-size: 1em;
    color: var(--flagColor2);
    background-color: var(--flagColor1);
}

#end-prenotation > span {
    font-size: 1.1em;
    color: var(--flagColor2);
}

#end-prenotation span label {
    margin-left: 0.6em;
}

#check-disclaimer {
    width: 15px;
    height: 15px;
}

/* Barra di supporto */
#support-pren-bar {
    box-sizing: border-box;
    width: 100%;
    padding: 0.8em 1em 0.5em;
    z-index: 2;
    position: fixed;
    bottom: 0;
    background-color: var(--flagColor1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 1);
}

/* Nascondi il testo per dispositivi mobili */
#icon {
    display: none;
}

#back-set-prenot {
    margin: 0 10em;
    padding: 0.6em;
    font-size: 0.9em;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid var(--flagColor2);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--flagColor2);
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#back-set-prenot:hover {
    color: var(--flagColor1);
    background-color: var(--flagColor2);
}

#support-pren-bar div {
    display: flex;
}

#circleTimer {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#countdown {
    font-size: 1.7em;
    margin-left: 0.5em;
}

#support-pren-bar input {
    margin: 0 10em;
    padding: 0.7em;
    color: var(--flagColor3);
    background-color: transparent;
}

#support-pren-bar input:hover {
    color: var(--flagColor1);
    background-color: var(--flagColor3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Form di login */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--flagColor1);
    padding: 35px 40px;
    border-radius: 8px;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 50px;
    background-color: transparent;
    color: var(--flagColor3);
    border: none;
}

fieldset {
    font-size: 0.9em;
    padding: 1em 0.5em;
    border-color: var(--flagColor3);
}

label {
    font-size: 1em;
    margin: 0 1em;
    color: var(--flagColor3);
}

.modal .auth-button {
    margin: 0.5em 0 1em;
    color: var(--flagColor3);
    background-color: transparent;
}

.modal .auth-button:hover {
    color: var(--flagColor1);
    background-color: var(--flagColor3);
}

h6 {
    font-size: 1.3em;
    margin-bottom: 1em;
}

#time-elapsed p {
    margin-bottom: 1em;
}

/* ACCEDI */
#login-access, #register-access, #invio-messaggio {
    margin-top: 2em;
}

#login-access .card-body,
#register-access .card-body,
#invio-messaggio .card-body {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#login-access form,
#register-access form,
#invio-messaggio form {
    margin: auto;
}

#login-access .card-body fieldset hr,
#register-access .card-body fieldset hr {
    width: 1.5em;
    margin: 2em auto;
    border: 1px solid var(--flagColor2);
}

#login-access .card-body fieldset p,
#register-access .card-body fieldset p {
    margin: 1em;
}

#login-access .card-body fieldset > input,
#register-access .card-body fieldset > input,
#invio-messaggio .card-body fieldset > input {
    margin-top: 1.5em;
}

/***************************** EVENTI *****************************/ 
#main-content h1, #main-content h2 {
    font-size: 2em;
    padding: 0.5em 0;
    line-height: 1.5em;
}

.content-section {
    margin: 2em 4em;
    line-height: 1.5em;
}

#main-content > p,
.content-section > p {
    padding: 0.3em;
    color: var(--flagColor2);
}

.content-section span {
    font-weight: bold;
}

.content-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content-section ul li {
    padding: 1.5em 1em;
    border-radius: 10px;
    margin: 1em;
    transition: 0.5s;
    position: relative;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.7);
    background: var(--flagColor5);
}

.content-section ul li > a {
    text-decoration: none;
    overflow: hidden;
}

.content-section ul li h4 {
    font-size: 1.3em;
    padding-bottom: 1em;
    color: var(--flagColor3);
}

.content-section ul li p {
    width: 19em;
    font-size: 0.9em;
    color: var(--flagColor2);
}

#sports-tournaments > p + h3 {
    margin: 1em auto 0;
}

#sports-tournaments > ul + h3 {
    margin: 1em auto;
}

.content-section ul li a > h4,
.content-section ul li a > p {
    z-index: 2;
    position: relative;
}

.item {
    height: 128px;
    width: 128px;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.content-section ul li:nth-child(1) .item,
.content-section ul li:nth-child(3) .item {
    background-color: var(--flagColor3);
}

.content-section ul li:nth-child(2) .item {
    background-color: var(--flagColor2);
}

.content-section ul li:hover {
    transform: translateY(-20px);
}

.content-section ul li:hover .item {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.content-section ul li:hover h4,
.content-section ul li:hover p {
    color: var(--flagColor1);
}

/*********** CONTATTI ***********/
#contacts-title {
    padding: 1em;
    text-transform: uppercase;
    text-align: center;
    width: 10em;
    margin: auto;
    line-height: 1.5em;
}

#contatti-azienda {
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 70%; 
    margin: 1em auto; 
    padding: 1em;
    box-sizing: border-box; 
    border: 1px solid var(--flagColor3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/* Center the content of .contact-item */
.contact-item {
    justify-content: center; 
    display: flex;
    align-items: center;
    width: 100%; 
    margin-bottom: 15px;
}

.contact-item::before {
    content: '';
    display: inline-block;
    width: 24px; 
    height: 24px; 
    background-size: cover;
    margin-right: 10px;
}

.contact-phone::before {
    background-image: url('../images/iconatel.png');
}

.contact-email::before {
    background-image: url('../images/iconaemail.png');
}

.contact-address::before {
    background-image: url('../images/iconapos.png');
}

.contact-text {
    margin: auto;
}

#invio-messaggio .card-body {
    width: 50%;
}

#invio-messaggio .card-body:first-child  {
    border-color: var(--flagColor3);
}

#invio-messaggio fieldset {
    margin-top: 1.5em;
}

.input-group textarea {
    width: 90%;
    height: 7em;
    padding: 1em;
    font-size: 1.3em;
    line-height: 1.5em;
    color: var(--flagColor3);
    background: transparent;
    border: 1.2px solid var(--flagColor2);
    outline: none;
    border-radius: 5px;
    transition: all .3s linear;
    resize: none;
}

.input-group > textarea + label {
    top: 18%;
    font-size: 1.2em;
}

.input-group textarea:focus~label,
.input-group textarea:not(:placeholder-shown)~label {
    top: 0;
    left: 0;
    font-size: 1em;
    color: var(--flagColor2);
    background-color: var(--backgroundColor); 
}

/**********  CONTATTI + js  *************/
.error_form {
    display: inline-block;
    width: 290px;
    color: var(--errorColor);
    font-weight: bold;
    font-size: 0.9em;
    margin: auto;
}

fieldset > span {
    display: inline-block;
    width: 290px;
    font-weight: bold;
    line-height: 1.5em;
    margin: 1.5em auto 1em;
}

#js-disabled-ms {
    text-align: center; 
    padding: 10px; 
    font-weight: bold;
    color: var(--errorColor);
}

h5 {
    font-size: 2.5em;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 15em;
    line-height: 1.5em;
}

#show-pren-details {
    border: 1px solid var(--flagColor3);
    border-radius: 25px;
    padding: 1em 2em 2em;
    margin: 2em auto;
    width: 60%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
}

#show-pren-details div:not(#logged-in-confirmation) p {
    display: inline-block;
    font-size: 1.3em;
    margin: 1em;
}

#logged-in-confirmation input {
    margin: 1.5em 1em;
    padding: 0.7em;
}

#logged-in-confirmation p {
    margin: 0.5em auto 1.5em;
    font-size: 1em;
    line-height: 1.5em;
}

#logged-in-confirmation a {
    margin: 0 2em 0;
    padding: 0.7em 1em;
    border: 1px solid var(--flagColor3);
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

/**********  ADMIN *************/
.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow-x: auto;
}

.custom-table {
    width: 80%; 
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #2a2a2a; 
    color: white; 
}

.custom-table thead {
    background-color: #f1c40f; 
    color: #2a2a2a; 
}

.custom-table th,
.custom-table td {
    text-align: left;
    padding: 12px 15px;
}

.custom-table th {
    border-radius: 5px;
}

.custom-table tr {
    border-bottom: 1px solid #f1c40f; 
}

.custom-table tr:nth-of-type(even) {
    background-color: #333333; 
}

.custom-table tr:last-of-type {
    border-bottom: 2px solid #f1c40f;
}


.messages-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
}

.message-box {
    background-color: #2a2a2a; 
    width: 80%;
    color: white; 
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.message-title {
    background-color: #f1c40f; 
    color: #2a2a2a;
    padding: 10px;
    border-radius: 5px;
    margin: -20px -20px 10px; 
    display: inline-block;
}

.message-box h3::before {
    content: "Titolo: ";
    position: absolute;
    left: -9999px; /* Sposta il testo fuori dalla vista */
}


.message-name,
.message-email,
.message-content {
    margin-bottom: 10px;
}

.pagination-buttons {
    text-align: center; 
    margin-top: 10px;
    margin-bottom: 5px; 
}


#prevPage, #nextPage {
    padding: 10px 10px; 
    border: 1px solid #f1c40f; 
    background: var(--flagColor1);
    color: #f1c40f;
    border-radius: 20px; 
    cursor: pointer;
    margin: 0 5px; 
    font-size: 0.8em; 
}

#prevPage:hover, #nextPage:hover {
    background-color: #f1c40f ; 
    color: var(--flagColor1);
    border: solid var(--flagColor1)
}

.pagination-buttons {
    text-align: center;
    margin-bottom: 20px;
}

@media (hover: none) {
    #prevPage:hover,
    #nextPage:hover {
        background-color: transparent;
        color: #f1c40f;
        border: 1px solid #f1c40f;
    }

}

/**********  404 *************/
#error-display { 
    width: auto;
    margin:2em; 
    padding: 1em;
    justify-content: center;
    text-align: center;  
}

#error-display h1 {
    margin: 1em auto;
    width: 8em;
}
